<p id="notice"><%= notice %></p>

<h2 class="list_title"><%= @list.name -%></h2>

<a href="#" class="system_button item_new" data-target="item_list">New item</a>

<% unless @list.items.count.zero? %>

    <ul id="item_list" class="item_list" data-list-id="<%= @list.id -%>">
        <% @list.items.each do |item| %>
            <li>
                <a href="#" class="item" data-id="<%= item.id -%>" data-done="<%= item.done -%>">
                  <span class="item_content"><%= item.content -%></span>
                  <span class="item_destroy">Remove</span>
                  <span class="item_state <%= item.done? ? "done" : "pending" -%>"><%= item.done? ? "Done" : "Pending" -%></span>
                </a>
            </li>
        <% end %>
    </ul>

<% else %>

    <p class="nothing_found">No items were found.</p>
    <ul id="item_list" class="item_list">
    </ul>

<% end %>

<%# link_to 'Edit', edit_list_path(@list) %>
<%= link_to 'Back', user_path(@list.user) %>
