<p id="notice"><%= notice %></p>

<h2 class="list_title"><%= @list.name -%></h2>

<% unless @list.items.count.zero? %>

<ul>
    <% @list.items.each do |item| %>
        <li class="item" data-id="<%= item.id -%>">
            <a href="#" class="item_content"><%= item.content -%></a> -
            <a href="#" class="item_state <%= item.done? ? "done" : "pending" -%>"><%= item.done? ? "done" : "pending" -%></a>
        </li>
    <% end %>
</ul>

<% else %>

    <p class="nothing_found">No items were found.</p>

<% end %>

<%# link_to 'Edit', edit_list_path(@list) %>
<%= link_to 'Back', user_path(@list.user) %>
