<p id="notice"><%= notice %></p>

<h2 class="user_title"><%= @user.name -%></h2>
<ul data-user-id="<%= @user.id -%>">
    <% @user.lists.each do |list| %>
        <li>
            <a class="list" data-id="<%= list.id -%>" href="<%= url_for list -%>">
              <span class="list_name"><%= list.name -%></span>
              <span class="list_count">(<%= list.items.pending.count -%>)</span>
              <span class="list_destroy">Remove</span>
            </a>
        </li>
    <% end %>
</ul>
